@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Jua&display=swap');


body {
  margin: 0;
  font-family: "jua";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
